


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/download.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>Angular</h3>
          <p>Welcome</p>
        </div>
      </div>


    </div>

    <!-- Left and right controls -->

</div>

<div class="container text-center">

  <div class="row">
    <div class="col-sm-4">
      <img src="assets/javascript.jpeg" class="img-responsive" style="width:100%" alt="Image">

    </div>
    <div class="col-sm-4">
      <img src="assets/Angular.jpeg" class="img-responsive" style="width:100%" alt="Image">

    </div>

  </div>
</div><br>




